.element__delete {
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../../../images/Trash.svg);
  background-size: 18px 19px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 18px;
  height: 19px;
  cursor: pointer;
  transition: opacity 0.5s linear;
  z-index: 1;
}

.element__delete:hover {
  opacity: 0.6;
}