.profile {
  position: relative;
  margin: 40px auto 51px;
  display: grid;
  grid-template-columns: 120px 1fr max-content;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .profile {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
    margin: 42px auto 36px;
    justify-items: center;
  }
}