.profile__info {
  position: relative;
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-items: flex-start;
  align-items: center;
  row-gap: 16px;
  grid-row: auto;
  margin: 0 0 0 30px;
  max-height: 73px;
}

@media screen and (max-width: 550px) {
  .profile__info {
    margin-top: 26px;
    row-gap: 8px;
  }
}