.element {
  position: relative;
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  row-gap : 20px;
  column-gap: 17px;
  margin: 0;
}

@media screen and (max-width: 920px) {
  .element {
    margin: 0 19px;
  }
}